{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>
        {% block title %}
        {% endblock title%}
    </title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="">link name</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% endif %}

                {% if not user.is_authenticated %}
                <li>
                    <a hef="{% url 'signup' %}">Sign Up</a>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
</body>

</html>