<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Receipts
    </title>
</head>

<body>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <h1>Vendor</h1>
                    <h2>Total</h2>
                    <h3>Tax</h3>
                    <h4>Date</h4>
                    <h5>Category</h5>
                    <h6>Account</h6>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipts %}
                <tr>
                    <td>{{ receipt.vendor }}</td>
                    <td>{{ receipt.total }}</td>
                    <td>{{ receipt.tax }}</td>
                    <td>{{ receipt.date|date:"m/d/y" }}</td>
                    <td>{{ receipt.category.name }}</td>
                    <td>{{ receipt.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>